.container-init {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.init-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e2021;
    padding: 20px;
    -webkit-box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
}

.init-content-cadastro {
   margin-top: 200px;
   height: 5300px;
}

.init-content .form-cadastro {
    width: 50%;
    padding-bottom: 15px;
}

.container-init input {
    border-radius: 0;
    border: none;
}

.container-init input:focus {
    border: none;
}

.container-init h2, .container-init button {
    text-transform: uppercase;
}

.banner-init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-init img {
    max-width: 100px;
    padding: 0;
    margin: 0;
}

.container-init button {
    width: 100%;
   /* background: linear-gradient(90deg, rgba(42,213,235,1) 14%, rgba(94,196,227,1) 49%, rgba(144,247,247,1) 100%);*/
    background-color: #29d8f0;
    border: none;
    color: #FFF;
    margin-top: 10px;
    border-radius: 0;
}

.container-init button:hover {
    color: #FFF;
    border: none;
    transform: scale(1.05);
    transition: .2s;
} 

.container-init .init-discription {
    width: 50%;
    text-align: center;
    text-justify: inter-word;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 770px) {
    .init-content {
        width: 70%;
    }
    .init-content .form-cadastro {
        width: 70%;
        padding-bottom: 15px;
    }
 }

@media screen and (max-width: 600px) {
   .init-content {
       width: 100%;
   }

   .container-init button:hover {
        color: #FFF;
        border: none;
        transform: none;
        transition: none;
    } 

    .init-content .form-cadastro {
        width: 100%;
        padding-bottom: 15px;
    }
}