.perfil-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-content .custom-select option{
   color: black;
}

.perfil-content .init-perfil {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
}

.banner-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.banner-perfil img {
    max-width: 200px;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    -webkit-box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
}

.banner-perfil h5 {
    font-weight: 900;
    margin-top: 10px;
}


.perfil-content button {
    width: 100%;
   /* background: linear-gradient(90deg, rgba(42,213,235,1) 14%, rgba(94,196,227,1) 49%, rgba(144,247,247,1) 100%);*/
    background-color: #29d8f0;
    border: none;
    color: #FFF;
    margin-top: 10px;
    border-radius: 0;
}

.perfil-content button:hover {
    color: #FFF;
    border: none;
    transform: scale(1.05);
    transition: .2s;
} 

.perfil-content .form-perfil {
    width: 100%;
}

.perfil-content input {
    border-radius: 0;
    border: none;
}

.perfil-content input:focus {
    border: none;
}

.perfil-content button {
    text-transform: uppercase;
}

.form-perfil-wrapper {
    padding: 20px;
}

.form-perfil table .actions {
    text-align: center;
}

.form-perfil table .actions {
    text-align: center;
}

.form-perfil table .action {
    text-align: center;
}

.form-perfil table .action svg {
    margin-left: 5px;
    cursor: pointer;
}

.form-perfil table .actions:first-child {
    padding-left: 20px;
}

@media screen and (max-width: 760px) {
    .perfil-content .init-perfil {
        min-width: 100%;
    }

    .form-perfil table .action svg {
        margin-left: 4px;
        cursor: pointer;
    }
 }