* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RobotoMono";
  color: white;
}

html, body {
  height: 100%;
}

.container-main {
  background-color: #1e2021;
}

.form-control:focus {
  border-color: #29d8f0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(41, 216, 240);
}